/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;

}



/* ---- typography ---- */


/* ---- layout ---- */

h1,
h2,
h3 {
  font-family: 'Anton', sans-serif;
}

nav  {
  background-color: rgba(223, 127, 127, 100);
}

p { 
  color: rgba(115, 114, 115, 100);

}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- header ---- */

/* ---- footer ---- */

/* ---- components ---- */

/* ---- css shame ---- */


nav{

}